.todoList {
  &__list {
    padding: 0;
    margin: 0%;
    &-item {
      display: flex;
      list-style: none;
      width: 500px;

      .text {
        line-height: 50px;
        font-size: 20px;
        margin: 0;
      }
      .delete {
        display: block;
        color: red;
        height: 20px;
        font-size: 20px;
        margin: auto 0 auto auto;
        border: none;
        cursor: pointer;
        background-color: #fff;
      }
    }
  }
}
.updateTask {
  width: 200px;
}
.finished {
  margin: 5% 5%;
}
.done {
  text-decoration: line-through;
}
